{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Biblioteca Dinamica - Libros
{% endblock %}

{% block libro %}



<h3 class="position-absolute">Lista de Libros</h3>
<nav class="d-flex justify-content-end gap-2 mb-5">
  {% if user.is_authenticated %}
  <a href="{% url 'libro_create' %}" class="btn btn-outline-success">Crear Libro</a>
  {% endif %}
  <div class="d-flex align-items-center">
    {% include "Components/busqueda.html" %}
  </div>
</nav>

<section class="container row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
  {% for libro in libros %}
  <div class="col p-2">
    <div class="card ">

      <!--Thumbnail-->
      <div class="img-thumbnail z-1 imagen"
        style="background-image: url('{{ libro.imagen.url }}'); background-size: cover; background-position: center;  ">
        <h1 class="content">Hola Mundo</h1>
      </div>
      
      <!--
      <img id="preview" src="{{ libro.imagen.url }}" alt="Vista previa de la imagen" class="img-thumbnail"
        style=" max-width: 100%; height: 460px ;">
      -->
      <div class="card-body d-flex flex-column align-items-center z-2" style="min-height: 460px;">        
        <div class="">
          <div class="d-flex justify-content-end">
            <small class="text-body-secondary">Creado:&nbsp;</small>
            <small class="d-flex justify-content-end">{{ libro.created }}</small>
          </div>
          <div class="d-flex justify-content-end">
            <small class="text-body-secondary">Actualizado:&nbsp;</small>
            <small class="d-flex justify-content-end">{{ libro.updated }}</small>
          </div>
        </div>
        
        <div class="d-flex flex-column">
          <span class="card-text">Autor: {{ libro.autor }}</span>
          <span class="card-text text-capitalize">Estado: {{ libro.estado }}</span>
          <span class="card-text"> ISBN : {{ libro.ISBN }}</span>
          <span class="card-text">Numero de inventario : {{ libro.numero_Inventario }}</span>
          <span class="card-text">Id: {{ libro.id }}</span>
          
        </div>
      </div>
      <div class="btn-group d-flex justify-content-start gap-1 z-3">
        <a href="{% url 'libro_update' libro.id %}" class="btn btn-sm btn-outline-success">Editar</a>
        <a href="{% url 'libro_delete' libro.id %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}