{% extends 'base.html' %}
{% load static %}
{% block libro_create %}
<section class="container">

  <h2 class="text-center text-decoration-underline link-offset-2">Creando Libro</h2>

  <form class="d-flex justify-content-center mt-3 mb-3" method="post" action="{% url 'libro_create' %}"
    enctype="multipart/form-data"> {% csrf_token %}

    <!--Imagen-->
    <div class="mx-2">
      <label for="{{ form.imagen.id_for_label }}" class="d-flex justify-content-center fw-bold">Imagen</label>
      <div class="card contenedor" style="max-width: 300px; height: 460px; ">
        <img id="preview" src="{% static '/img/ejemplo.webp' %}" alt="Vista previa de la imagen" class="img-thumbnail imagen">
      </div>
      {{ form.imagen }}
    </div>

    <!--Información-->
    <div class="d-flex flex-column p-2 gap-2 justify-content-center">

      <div class="border-bottom">
        {{ form.titulo }}
      </div>

      <div class="d-flex align-items-center gap-1">
        <h6 class="mb-0">Autor:</h6>
        <span class="badge rounded-pill text-bg-secondary fw-bold text-center" for="{{ form.autor.id_for_label }}">{{ form.autor }}</span>
      </div>

      <div>
        {{ form.ISBN }}
      </div>

      <div>
        {{ form.numero_Inventario }}
      </div>


      <div class="d-flex align-items-center justify-content-end">
        <label for="{{ form.estado.id_for_label }}" class="fw-bold visually-hidden">Estado</label>
        {{ form.estado }}
      </div>

      <button class="btn btn-success" type="submit" value="Crear">Crear Libro</button>
      <button class="btn btn-danger" type="button" value="Cancelar" onclick="window.location.replace('{% url 'libros' %}')">Cancelar</button>
    </div>
  </form>

  <div>
    {% if form.errors %}
    <div class="alert alert-danger p-2">
      <ul class="m-0">
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</section>


<script>
  document.getElementById('formFileSm').onchange = function (event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById('preview');
      output.src = reader.result;
      output.style.display = 'block';
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>
{% endblock %}