{% extends 'base.html' %}
{% load static %}
{% block libro_delete %}

<form class="d-flex flex-column justify-content-center align-items-center text-center" method="post">{% csrf_token %}
  <h1 style="color: #c34444;">Estas seguro que desea borrar? </h1>
  <!--Libro-->
  <div class="card m-2 contenedor" style="height: 460px; max-width: 300px;">
    <!--Thumbnail-->

    <div class="img-thumbnail imagen" style="background-image: url('{{ libro.imagen.url }}')"></div>
    <div class="content d-flex flex-column justify-content-center ">
      <!--Información-->
      <h2>{{ libro.titulo }}</h2>
      <h5>Autor: {{ libro.autor }}</h5>
      <h5 class="text-capitalize">Estado: {{ libro.estado }}</h5>
      <h5> ISBN : {{ libro.ISBN }}</h5>
      <div class="d-flex justify-content-center gap-3">
        <h5>Inventario: {{ libro.numero_Inventario }}</h5>
        <h5>Id: {{ libro.id }}</h5>
      </div>

      <div>
        <small class="text-body-secondary">Creado:&nbsp;</small>
        <small>{{ libro.created }}</small>
      </div>
      <div>
        <small class="text-body-secondary">Actualizado:&nbsp;</small>
        <small>{{ libro.updated }}</small>
      </div>
    </div>

  </div>
  <div>
    <button class="btn btn-success" type="submit">CONFIMAR</button>
    <button class="btn btn-danger" type="button" value="Cancelar"
      onclick="window.location.replace('{% url 'libros' %}')">CANCELAR</button>
  </div>
</form>



{% endblock %}