{% block herramientaBusqueda %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-md-0 mw-100 navbar-search" method="GET">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-text">{% include "Icons/book.html" %}</div>
        <input class="form-control" id="buscar" name="buscar" type="search" placeholder="Buscar..." aria-label="Search" value=""
            type="text">
        <button type="submit" id="boton-buscar" class="btn btn-success">
        {% if request.GET.buscar %}
            Volver
        {% else %}
            Buscar
        {% endif %}</button>
        
    </div>
</form>

{% if request.GET.buscar %}
    <script>
        document.getElementById('buscar').addEventListener('input', function() {
            const boton = document.getElementById('boton-buscar');
            const query = this.value;
            if (query.length > 0 ) {
                boton.textContent = 'Buscar';
            } else
            {
                boton.textContent = 'Volver'
            }
        });
    </script>
{% endif %}
{% endblock %}