{% block footer %}
<footer class="mt-3 mb-5 border-top p-3">
    
    <h2 class="text-center"><u>Datos de Contacto</u></h2>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <h3>Esteban Perez Malinar</h3>
                <ul class="nav navbar-nav ">
                    <li>perezmalinaresteban@gmail.com</li>
                    <li>3888-440044</li>
                </ul>
            </div>
            <div class="col">
                <h3>Lautaro Liquitay Linares</h3>
                <ul class="nav navbar-nav">
                    <li>lautaroemanuellinares@gmail.com</li>
                    <li>388-5237463</li>
                </ul>
            </div>
            <div class="col">
                <h3>Dario Mauricio Ruiz</h3>
                <ul class="nav navbar-nav">
                    <li>darpro99@gmail.com</li>
                    <li>388-4591111</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}