{% extends 'base.html' %}
{% load static %}
{% block prestamo_create %}
<link rel="stylesheet" href="{% static 'stylePrestamo.css' %}">
<h1 class="text-center">Solicitar un Prestamo</h1>

<div class="d-flex justify-content-center">
  <div class="text-center border rounded p-2 d-flex w-25 justify-content-center">
    <form method="post" action="{% url 'prestamo_create' %}" enctype="multipart/form-data">{% csrf_token %}
      <h5 class="border-bottom pb-1">Numero de Prestamo: <small>Automatico</small></h5>

      <h6>Apellido y Nombre:</h6>
      <h6 class="d-flex text-wrap justify-content-center">{{ form.apellido }} {{ form.nombre }}</h6>

      <h6 class="text-decoration-underline link-offset-2">Libro Solicitado:</h6>
      <h5 class="d-flex text-wrap align-items-center justify-content-center">{{ form.libro_solicitado }}</h5>

      <div class="btn-group gap-1  w-100">
        <button class="btn btn-sm btn-success" type="submit" value="Crear">Crear Prestamo</button>
        <button class="btn btn-danger" type="button" value="Cancelar"
          onclick="window.location.replace('{% url 'prestamos' %}')">Cancelar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}