{% extends 'base.html' %}
{% load static %}
{% block prestamo %}

<nav class="d-flex justify-content-between align-items-center mb-3">
  <h3>Lista de Prestamos</h3>

  {% if query %}
  <h3 class="m-0">Resultados para: "{{ query }}"</h3>
  {% endif %}

  <div class="d-flex gap-2">
    {% if user.is_authenticated %}
    <a href="{% url 'prestamo_create' %}" class="btn btn-success">Solicitar Prestamo</a>
    {% endif %}
    <div>
      {% include "Components/busqueda.html" %}
    </div>
  </div>
</nav>

<section class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-4 gap-4">
  {% for prestamo in prestamos %}
    <div class="text-center border rounded p-2">
        <h5 class="border-bottom pb-1">Numero de Prestamo: {{ prestamo.numero_de_pedido }}</h5>
        <div class="">
          <h6>Nombre y Apellido:</h6>
          <h6 class="d-flex text-wrap justify-content-center">{{ prestamo.apellido }} {{ prestamo.nombre }}</h6>
        </div>
        <h6 class="text-decoration-underline link-offset-2">Libro Solicitado:</h6>
        <h5 class="d-flex text-wrap align-items-center justify-content-center">{{ prestamo.libro_solicitado }}</h5>
      
      {% if user.is_authenticated %}
        <div class="btn-group gap-1  w-100">
          <a href="{% url 'prestamo_update' prestamo.numero_de_pedido %}" class="btn btn-sm btn-outline-success">Editar</a>
          <a href="{% url 'prestamo_delete' prestamo.numero_de_pedido %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
{% endblock %}