{% extends 'base.html' %}
{% load static %}
{% block prestamo %}
<h1>Solicitar un Prestamo</h1>

<form method="post" action="{% url 'prestamo_create' %}" enctype="multipart/form-data">{% csrf_token %}
  <div class="text-center border rounded p-2">
      
    <h5 class="border-bottom pb-1">Numero de Prestamo: {{ prestamo.numero_de_pedido }}</h5>
    <div class="">
      <h6>Nombre y Apellido:</h6>
      <h6 class="d-flex text-wrap justify-content-center">{{ prestamo.apellido }} {{ prestamo.nombre }}</h6>
    </div>
    <h6 class="text-decoration-underline link-offset-2">Libro Solicitado:</h6>
    <h5 class="d-flex text-wrap align-items-center justify-content-center">{{ prestamo.libro_solicitado }}</h5>
  
  {% if user.is_authenticated %}
    <div class="btn-group gap-1  w-100">
      <a href="{% url 'prestamo_update' prestamo.numero_de_pedido %}" class="btn btn-sm btn-outline-success">Editar</a>
      <a href="{% url 'prestamo_delete' prestamo.numero_de_pedido %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
    </div>
  {% endif %}
</div>
    {{ form.as_p }}
    <button type="submit" value="Crear">Solicitar Prestamo</button>
  </form>
{% endblock %}