{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Biblioteca Dinamica - Acerca De
{% endblock %}

{% block AcercaDe %}

<section class="container">

  <h1 class="text-center">Equipo Dinamico</h1>

  <article class="row row-cols-1 d-flex justify-content-between text-center gap-2 mt-3 mb-5">
    {% block Esteban %}
    {% include "Components/Esteban.html" %}
    {% endblock %}

    {% block Lautaro %}
    {% include "Components/Lautaro.html" %}
    {% endblock %}

    {% block Dario %}
    {% include "Components/Dario.html" %}
    {% endblock %}
  </article>

  <article class="m-5">
    <h1 class="text-center">Propósito del team</h1>
    <div class="fw-semibold">
      <p>Este proyecto se centró en desarrollar una aplicación web para la administración de una biblioteca, combinando
        las bases de <span style="color:#F16529;">HTML</span>, <span style="color:#2965f1;">CSS</span>, el framework <span style="color: #1BC178;">Django</span> y <span style="color:#712cf9;">Bootstrap</span>  para el diseño. El principal objetivo fue crear una plataforma web funcional que permita gestionar los préstamos y la disponibilidad de libros en una biblioteca de manera eficiente y fácil de usar.</p>
      
      Este trabajo fue realizado como parte de un proyecto académico en la facultad, involucrando a tres integrantes. La
      finalidad era aplicar y consolidar conocimientos adquiridos en el curso, abarcando tanto el frontend como el backend
      del desarrollo web.
      </p>
      <p>Este proyecto logró integrar y aplicar de manera efectiva tecnologías frontend y backend, resultando en una
        aplicación web bien diseñada para la administración de una biblioteca. Fue una excelente oportunidad
        para poner en práctica habilidades técnicas y de colaboración en equipo.</p>
    </div>
  </article>
</section>
{% endblock %}