{% extends 'base.html' %}
{% load static %}

{% block inicio %}

<section class="position-relative d-flex align-items-center justify-content-center"
    style="min-height: 100vh;">

    <div class="rounded" id="imagenDeFondo"
        style="background-image: url('/static/Inicio/bibliotecaDinamica.webp'); background-size: cover; background-position: center; position: absolute;  width: 100%; height: 100% ;z-index: 1;">
    </div>

    <div class="text-center" style="z-index: 2">
        <h1 class="fw-bold mb-2">Biblioteca Dinamica</h1>
        <h3 class="container ms-5 text-wrap mb-4">Una biblioteca con una variedad de libros que permite registrar préstamos de libros a miembros y gestionar la información básica de los mismos.</h3>

        <!--Busqueda-->
        <div class="btn-lg d-flex justify-content-center gap-4">
            {% include 'Components/busqueda.html' %}
            {% include 'busquedaPrestamo.html' %}            
        </div>

        <div class="d-flex justify-content-center align-items-center gap-1 mt-5">
            <h5 class="m-0">Entrar al Catálogo:</h5>
            <a class="fw-semibold p-2 text-decoration-underline link-body-emphasis link-offset-2" href="{% url 'libros' %}">Ver Libros</a> / <a href="{% url 'prestamos' %}" class="fw-semibold p-2 text-decoration-underline link-body-emphasis link-offset-2">Ver Prestamos</a>
        </div>
        
    </div>
</section>

{% endblock %}


{% block titulo %}

Biblioteca Dinamica - Inicio

{% endblock %}